.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin: 2rem 0 1rem 0;
}
input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}
